<footer id='sticky-footer' class='py-3 bg-dark text-white fixed-bottom'>
  <div class='container text-center'>
    <small>
      Copyright &copy; 
      <%= link_to 'Esteban Saldarriaga', 'https://github.com/estebansa19', class: 'text-white' %>
    </small>
  </div>
</footer>
